body{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.title{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
    width: 100%;
    color: red;
}

.js-backGround{
    background-repeat: no-repeat,
        no-repeat;
    background-position: center,
        center;
    background-size: 65vh,
        cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.buttonForm{
    position: absolute;
    width: 100%;
}

.js-button{
    display: block;
    margin: 0 auto;
    font-weight: 700;
}

.js-userbutton {
    border-color: yellow;
    background-color: gold;
    color: purple;
}

.js-settingsbutton {
    border-color: #a25840;
    background-color: #c2846b;
    color: black;
}

.js-userbutton.disabled{
    background-color: lightgrey;
    border-color: grey;
    color: darkgrey;
    opacity: 0.75;
    cursor: not-allowed;
}

.js-feedBackImageRight{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.js-feedBackImageWrong{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

@media only screen and (orientation: landscape){

    .smallTitle{
        padding-top: 0.2em;
        font-size: 6vh;
    }

    .bigTitle {
        font-size: 12vh;
        color: black;
    }

    .js-pageViewSplashHtml{
        background-image: url("thinker_question.png"),
            url("beach_square.jpg");
        background-size: 45%, cover;
    }

    .js-pageViewSettingsHTML{
        background-image: url("grunge_square.jpg");
        background-size: cover;
    }

    .js-pageViewQuestionHTML{
        background-image: url("fog_square.jpg");
        background-size: cover;
    }

    .js-pageViewFeedbackHTML{
        background-image: url("mountains_square.jpg");
        background-size: cover;
    }

    .js-pageViewWrapHTML{
        background-image: url("sunset_square.jpg");
        background-size: cover;
    }

    .buttonForm{
        bottom: 6px;
    }
    
    .buttonBox{
        padding-top: 4px;
        padding-bottom: 4px;
        height: 5%;
    }

    .js-button{
        width: 180px;
        height: 100%;
        border-radius: 24px;
        font-size: 1.8em;
    }
}

@media only screen and (orientation: portrait){

    .smallTitle{
        padding-top: 1em;
        font-size: 3vh;
    }

    .bigTitle {
        font-size: 9vh;
        color: black;
    }

    .js-pageViewSplashHtml{
        background-image: url("thinker_question.png"),
            url("beach_square.jpg");
        background-size: 90%, cover;
    }

    .js-pageViewSettingsHTML{
        background-image: url("grunge_square.jpg");
        background-size: cover;
    }

    .js-pageViewQuestionHTML{
        background-image: url("fog_square.jpg");
        background-size: cover;
    }
    
    .js-pageViewFeedbackHTML{
        background-image: url("mountains_square.jpg");
        background-size: cover;
    }
    
    .js-pageViewWrapHTML{
        background-image: url("sunset_square.jpg");
        background-size: cover;
    }

    .buttonForm{
        bottom: 20px;
    }
    
    .buttonBox{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        fit-content: min(max-content fill-available);
        max-width: 35%;
    }

    .js-button{
        width: 100%;
        height: 100%;
        border-radius: 40px;
        font-size: 3vh;
    }
}

.js-correct{
    color: green;
}

.js-incorrect{
    color: red;
}

.js-scoreBox{
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    height: 2em;
    width: 300;
    padding: 4px;
    border-radius: 24px;
    text-align: center;
}

.js-questionCounter{
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 255, 0.1);
    height: 2em;
    width: 300;
    padding: 4px;
    border-radius: 24px;
    text-align: center;
}

.js-screenQuestion{
    position: absolute;
    top: 150px;
    left: 20px;
    border: 3px solid black;
    border-radius: 4px;
    background-color: azure;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-fourQuestionBox{
    position: absolute;
    top: 270px;
    left: 20px;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: white;
    width: 90%;
    text-align: center;
}

.js-twoQuestionBox{
    position: absolute;
    top: 270px;
    left: 20px;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: white;
    height: 56px;
    width: 90%;
    text-align: center;
}

.js-radioButton{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 4px;
}

.js-feedBackImageRight{
    display: block;
    margin: 0 auto;
}

.js-feedBackImageWrong{
    display: block;
    margin: 0 auto;
}

.js-feedbackQuestion{
    position: absolute;
    top: 350px;
    left: 20px;
    border: 3px solid black;
    border-radius: 4px;
    background-color: azure;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;    
}

.js-correctAnswer{
    position: absolute;
    top: 450px;
    left: 20px;
    color: green;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-userAnswer{
    position: absolute;
    top: 550px;
    left: 20px;
    color: red;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-wrapScore{
    display: block;
    margin: 0 auto;
    background-color: rgba(235, 253, 70, 0.3);
    height: 3em;
    width: 300;
    padding: 4px;
    text-align: center;
}

.js-scorePercent{
    font-size: 16pt;
    color: blue;
}

.js-evalList{
    position: absolute;
    top: 84px;
    left: 3px;
    border: 3px solid orange;
    border-radius: 4px;
    background-color: cornsilk;
    width: 98%;
    max-height: 575px;
    overflow: auto;
    text-align: left;
}

.js-settingsForm{
    position: absolute;
    bottom: 80px;
    left: 30px;
    width: 350px;
    height: 60px;
    border: 3px solid #454545;
    border-radius: 4px;
    background-color: silver;
}

.js-1stWidget{
    position: absolute;
    left: 10;
    top: 2;
    width: 140px;
    height: 48px;
}

.js-2ndWidget{
    position: absolute;
    left: 160;
    top: 2;
    width: 180px;
    height: 48px;
}

#js-questionsToDo, #js-category{
    position: absolute;
    left: 10px;
    top: 20px;
    color: black;
    background-color: lightgrey;
    border: 1px solid #454545;
    border-radius: 5px;
}